<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.siteTitle }}</title>
        <link rel="stylesheet" href="{{ '/css/main.css' }}">
    </head>
    <body>
        <header>
            <img src="{{ github.avatar_url }}">
            <img src="{{ cat.file }}">
        </header>
        {% include "components/navigation.njk" %}
        <main class="container">
            {{ content | safe }}
        </main>
        {% include "components/footer.njk" %}
        <script src="js/bundle.js"></script>
    </body>
</html>