@import "../../node_modules/modularscale-sass/stylesheets/modularscale";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

$modularscale: (
    base: 16px,
    ratio: $fourth,
);

$font-family-sans-serif: 'Montserrat', sans-serif;

body {
    line-height: 1.5;
    font-family: $font-family-sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: ms(3);
}

h2 {
    font-size: ms(2);
}

h3 {
    font-size: ms(1);
}